@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
}

:root {
    --gradient--colors: linear-gradient(147deg, #FFFFFF 0%, #005a24 74%);
    --background--colors-black: #171b20;
    --background--colors-yellow: #FFE53B;
    --background--colors-green: #005a24;
    --background--colors-Gainsboro: #DCDCDC;
    --background--colors-lightGray: #EEE;
    --background--colors-orangeRed: #d12b09;

    --text-colors-white: #FFFFFF;
    --text-colors-Gainsboro: #FFFFFF;
    --text-colors-Gray: #808080;
    --text-colors-yellow: #FFE53B;
    --text-colors-green: #005a24;
    --text-colors-orangeRed: #d12b09;

    --border-colors-green: #005a24;
    --border-colors-yellow: #FFE53B;
    --border-colors-Gainsboro: #DCDCDC;
    --border-colors-orangeRed: #d12b09;
    --border-colors-black: #171b20;

    --shadow-white: #FFFFFF;
    --shadow-green: #005a24;
    --shadow-Gainsboro: #DCDCDC;
    --shadow-Yellow: #FFE53B;
    --shadow-black: #171b20;
}

body {
    background: var(--background--colors-lightGray);
}

.border {
    border: solid 1px var(--border-colors-orangeRed);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 40px;
    margin: auto;
}

.container .logo {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-colors-yellow);
    text-shadow: 0 0 10px var(--shadow-black);
}

.container .list-container {
    display: flex;
    flex: 0 0 45%;
}

.container .list-container ul {
    display: flex;
    justify-content: space-evenly;
}

.container .list-container ul li a {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: var(--text-colors-orangeRed);
    border-bottom: solid 3px var(--border-colors-yellow);
    text-shadow: 1px 0 2px var(--shadow-black);
    transition: .3s ease-in-out;
}

.container .list-container ul li a:hover {
    color: var(--text-colors-yellow);
    border-bottom: solid 3px var(--border-colors-orangeRed);
}

.container .hamburger {
    display: none;
    cursor: pointer;
}

.container .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--background--colors-orangeRed);
}

.banner-container .banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url(/assets/images/pizza_Banner.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 3px 2px 10px var(--shadow-black);
}

.banner-container h1, .banner-container .clickNow {
    position: relative;
    left: 25%;
    top: 20%;
    margin-bottom: 60px;
}

.banner-container h1 {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--text-colors-white);
    text-shadow: 3px 2px 10px var(--shadow-black);
}

.banner-container .clickNow {
    width: 100px;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    color: var(--text-colors-yellow);
    box-shadow: 5px 5px 10px var(--shadow-black);
    text-shadow: 1px 0px 3px var(--shadow-black);
    background: var(--background--colors-orangeRed);
    transition: 0.3s;
}

.banner-container .clickNow:hover {
    border: 1px solid var(--border-colors-orangeRed);
    color: var(--text-colors-orangeRed);
    text-shadow: 1px 0px 3px var(--shadow-black);
    background: var(--background--colors-lightGray);
    box-shadow: 3px 3px 5px var(--shadow-Yellow);
}

.banner-container .about {
    width: 100%;
    width: 1200px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

.banner-container .about .sub-title {
    width: 30px;
    margin: 32px 0;
    font-size: 32px;
    font-weight: bold;
    color: var(--text-colors-yellow);
    text-shadow: 2px 0 3px var(--shadow-black);
    border-bottom: solid 3px var(--border-colors-orangeRed);
}

.banner-container .about .social-media {
    display: flex;
    justify-content: space-around;
    flex: 0 0 17%;
}

.banner-container .about img {
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.banner-container .about img:hover {
    border-radius: 20%;
    box-shadow: 0 1px 10px var(--shadow-black);
}

.banner-container .paragraph {
    width: 1200px;
    margin: auto;
    padding: 30px;
    margin-bottom: 60px;
    font-size: 16px;
    border-radius: 10px;
    color: var(--text-colors-Gray);
    box-shadow: 1px 0px 8px var(--shadow-black);
    background: var(--background--colors-lightGray);
}

.banner-down .banner-one {
    width: 100%;
    height: 400px;
    margin: 40px 0;
    background: url(/assets/images/Banner-two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
    box-shadow: 3px 2px 10px var(--shadow-black);
}

.banner-down .sub-title-two {
    text-align: center;
    font-weight: bold;
    margin: 40px 0;
    text-transform: uppercase;
    color: var(--text-colors-orangeRed);
    text-shadow: 2px 0 20px var(--shadow-Yellow);
}

.banner-down .more-pizzas {
    width: 1200px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}

.banner-down .more-pizzas h4 {
    color: var(--text-colors-orangeRed);
    margin-bottom: 20px;
}

.banner-down .more-pizzas .pizza-desc {
    height: 400px;
    margin: 30px 30px;
    padding: 20px;
    border-radius: 20px;
    color: var(--text-colors-Gray);
    border: solid 1px var(--border-colors-Gainsboro);
    box-shadow: 0px 0px 5px var(--shadow-black);
    background-color: var(--background--colors-lightGray);
    transition: 0.3s;
}

.banner-down .more-pizzas .pizza-desc:hover {
    opacity: 85%;
    box-shadow: 0px 0px 5px var(--shadow-Yellow);
}

.banner-down .more-pizzas img {
    width: 200px;
    margin: 20px 0px;
}

.localization h2, .opnation-title {
    margin: 40px 0;
    overflow: hidden;
    padding: 8px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    color: var(--text-colors-yellow);
    text-shadow: 1px 2px 5px var(--shadow-black);
    box-shadow: 0 0 10px var(--shadow-black);
}

.localization div {
    display: flex;
    justify-content: center;
}

.localization .map {
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    margin-bottom: 36px;
    box-shadow: 0 0 16px var(--shadow-Gainsboro);
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    /* background-image: url(/assets/images/bkj-pizzas.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.contact-left-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-colors-yellow);
    text-shadow: 2px 2px 3px var(--shadow-black);
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: var(--background--colors-orangeRed);
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: var(--text-colors-Gray);
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus {
    border: 2px solid var(--border-colors-orangeRed);
}

.contact-inputs::placeholder {
    color: var(--text-colors-Gray);
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: var(--text-colors-white);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #d12b09, #FFE53B);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

.contact-right img {
    width: 500px;
}

.copy-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.copy-logo .copy {
    color: var(--text-colors-Gainsboro);
    text-shadow: 1px 0 2px var(--shadow-black);
    margin-bottom: 16px;
}

.copy-logo .logo {
    margin: 16px;
    font-size: 30px;
    font-weight: bold;
    color: var(--text-colors-yellow);
    text-shadow: 0 0 10px var(--shadow-black);
}


@media(max-width:1228px) {

    .banner-container .about {
        width: 780px;
    }

    .banner-container .banner img, .banner-container .banner-one img {
        height: 300px;
    }

    .banner-container .paragraph {
        width: 800px;
    }

    .banner-down .more-pizzas {
        width: 1000px;
    }

    .localization .map {
        width: 800px;
        height: 300px;
    }
}

@media(max-width:1000px) {
    .container {
        flex-direction: column;
    }

    .banner-down .more-pizzas {
        width: 100%;
        flex-direction: column;
    }

    .contact-right {
        display: none;
    }
}

@media (max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

}

@media(max-width:846px) {

    .banner-container .about {
        width: 588px;
    }

    .banner-container .about .social-media {
        flex: 0 0 24%;
    }

    .banner-container .paragraph {
        width: 600px;
    }

    .localization .map {
        width: 600px;
    }
}


@media(max-width:700px) {
    .container {
        flex-direction: row;
    }

    .container .logo {
        font-size: 30px;
        margin: auto;
    }

    .container .list-container ul {
        position: absolute;
        left: -100%;
        top: 123.4px;
        gap: 0;
        padding-bottom: 16px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        opacity: 0.9;
        z-index: 1;
    }

    .container .list-container li {
        margin: 16px 0;
    }

    .container .list-container ul.active {
        left: 0;
        background-color: var(--background--colors-lightGray);
    }

    .container .hamburger {
        display: block;
        flex: 0 0 100%;
        margin: auto;
        padding-left: 160px;
    }

    .container .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .container .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .container .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .banner-container h1, .banner-container .clickNow {
        top: 36%;
    }

    .banner-container .about {
        width: 60%;
        flex-direction: column;
    }

    .banner-container .about .sub-title {
        margin-right: 52px;
        font-size: 30px;
    }

    .banner-down .sub-title-two, .localization h2 {
        font-size: 30px;
    }

    .banner-container .about .social-media {
        width: 200px;
        margin-bottom: 16px;
    }

    .banner-container .paragraph {
        width: 400px;
        height: 200px;
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }

    .banner-down .sub-title-two, .opnation-title, .contact-left-title h2 {
        font-size: 30px;
    }

    .localization .map {
        width: 400px;
        height: 280px;
    }

    .copy-logo .copy {
        margin-bottom: 20px;
    }

    .copy-logo .logo {
        font-size: 30px;
    }
}

@media(max-width:500px) {
    .container .logo {
        font-size: 26px;
    }

    .banner-container .banner h1, .banner-container .about .sub-title, 
    .banner-container .clickNow, .banner-down .sub-title-two, .localization h2, 
    .opnation-title, .contact-left-title h2 {
        font-size: 25px;
    }

    .banner-container h1, .banner-container .clickNow {
        left: 10%;
        top: 25%;
    }

    .copy-logo .logo {
        font-size: 26px;
    }
}

@media(max-width:436px) {

    .container .hamburger {
        padding-left: 70px;
    }

    .banner-container h1, .banner-container .clickNow {
        left: 10%;
        top: 25%;
    }

    .banner-container .paragraph {
        width: 100%;
        height: 100%;
        width: 300px;
        padding: 20px;
    }

    .banner-down .more-pizzas {
        width: 300px;
        flex-direction: column;
    }

    .localization .map {
        width: 300px;
        height: 200px;
    }

    .localization h2, .opnation-title {
        padding: 0 20px;
    }

    .copy-logo .copy {
        font-size: 12px;
    }
}

@media(max-width:402px) {

    .container .logo {
        font-size: 20px;
    }

    .banner-container .paragraph {
        width: 100%;
        height: 100%;
        width: 200px;
        padding: 20px;
    }

    .banner-down .more-pizzas {
        width: 150px;
    }

    .localization .map {
        width: 200px;
        height: 150px;
    }

    .copy-logo .logo {
        font-size: 20px;
    }

    .copy-logo .copy {
        font-size: 10px;
    }
}